<h2><%= @repo.name%></h2>
<label>Description: </label><%= @repo.description %><br>

<form method="POST" action="/repos/<%=@repo.id%>">
  <input type="hidden" name="_method" value="PATCH">
  <label>Update Name: </label><input type="text" name="name"><br>
  <label>Update Description: </label><br>
  <textarea name="description" rows="8" cols="100"><%= @repo.description %></textarea><br>
  <button type="submit">Update</button>
</form>