<% if @portfolios.empty? %>
  <h2>You haven't created any portfolios yet</h2>
<% else %>
  <% @portfolios.each do |portfolio|%>
    <h4><%= @portfolio.name %></h4>    
    <label>Created: </label><%= @portfolio.created_at %><br>
    <a href="/portfolios/<%= @portfolio.id %>">View Portfolio Details</a><br>    
  <% end %>
<% end %>
<br>
<br>
<a href="portfolios/new">Make a New Portfolio</a>