<h2>Make a New Portfolio</h2>
<form method="POST" action="/portfolios">
  <label>First, name this portfolio: </label><input type="text" name="name"><br>
  <button type="submit">Get My Github Repos</button>
</form>