<h2>Welcome to the Github Portfolio Builder</h2>
<h4>Log In: </h4>
<form method="POST" action="/login">
  <label>Username: </label><input type="text" name="username"><br>
  <label>Password: </label><input type="text" name="password"><br>
  <button type="submit">Log In</button>
</form>

<p>Or <a href="/signup">Sign Up</a> if you don't have an account.</p>